@use "variables" as *;

main {
  margin-top: 80px;
  min-height: 100vh;
  flex-grow: 1;
}
// hero section
.full-width-hero-container {
  width: 100vw;
  background: linear-gradient(135deg, $secondary-green, $primary-green);

  .center-box {
    max-width: 670px;
    background: linear-gradient(135deg, $secondary-green, $primary-green);
    margin-top: 20px;
    margin-bottom: 10px;

    .hero-title {
      font-size: 3rem;
      font-weight: bold;
      color: white;

      & .highlight {
        color: $accent-yellow;
      }
    }

    .hero-subtitle {
      font-size: 1rem;
      margin-top: 15px;
      color: white;
    }
  }

  .hero-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    cursor: pointer;

    .button {
      padding: 10px 20px;
      text-decoration: none;
      font-weight: bold;
      font-size: 1rem;
      transition: all 0.3s ease;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .browseItem-button {
      background-color: white;
      color: #2c3e50;

      &:hover {
        background-color: #f0f0f0;
        transform: translateY(-3px);
      }
    }

    .addItem-button {
      background-color: transparent;
      color: white;
      border: 2px solid white;

      &:hover {
        background-color: white;
        color: #2c3e50;
        transform: translateY(-3px);
      }
    }

    .btn__icon {
      margin-right: 8px;
    }
  }
}

/* Categories Section */
.categories-section {
  padding: 3rem 0rem;
  text-align: center;

  .categories-header {
    .categories-title {
      font-size: 2rem;
      font-weight: 700;
      color: #222;
      margin-bottom: 0.5rem;
    }

    .categories-subtitle {
      color: #666;
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }

  .categories-carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 1rem 3rem;

    .carousel-arrow {
      background: #fff;
      border: none;
      color: #333;
      font-size: 1.5rem;
      cursor: pointer;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
      z-index: 2;
      flex-shrink: 0;

      .carousel-arrow:hover {
        background: #f0f0f0;
        transform: scale(1.1);
      }
    }

    .left {
      position: absolute;
      left: 5px;
    }

    .right {
      position: absolute;
      right: 5px;
    }

    .categories-carousel {
      display: flex;
      scroll-behavior: smooth;
      gap: 1rem;
      width: 100%;
      padding: 0 1rem;
      box-sizing: border-box;
      overflow: hidden;
      margin-left: 5px;
      margin-right: 5px;

      .categories-carousel::-webkit-scrollbar {
        display: none;
      }

      .category-card {
        border: 1px solid rgb(222, 220, 220);
        flex: 0 0 calc((100% - (1rem * 5)) / 6);
        padding: 10px;
        border-radius: 10px;
        flex-shrink: 0;
        text-align: center;
        transition: transform 0.3s ease;
        margin: 10px 0;
        width: 8rem;
        height: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        &:hover {
          transform: translateY(-6px);
        }

        .category-icon-box {
          width: 5rem;
          height: 4rem;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 16px;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          flex-shrink: 0;

          i {
            font-size: 2rem;
          }
        }

        .category-name {
          margin-top: 1px;
          font-weight: 600;
          color: #333;
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }
      }
    }

  }
}

/* item Section */
.full-width-item-container {
  width: 100vw;
  background: #fafafb;

  .item-section {
    padding: 2rem 0rem;
    background-color: #fafafb;
    text-align: center;

    .item-section-header {
      .item-section-title {
        font-size: 2rem;
        font-weight: 700;
        color: #222;
        margin-bottom: 0.5rem;
      }

      .item-section-subtitle {
        color: #666;
        font-size: 1rem;
        margin-bottom: 2rem;
      }
    }

    .item-section-content {
      display: flex;
      align-items: center;
      justify-content: center;

      .card {
        border: 0;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        width: 100%;
        height: 100%;

        &:hover {
          transform: translateY(-6px);
          box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.15);
        }

        .image-box {
          aspect-ratio: 4/4;
          width: 100%;
          height: auto;
          border-radius: 12px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          object-fit: cover;
          position: relative;
          padding: 10px;
          box-sizing: border-box;
          margin: 0 auto;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }

          .badge-box {
            position: absolute;
            top: 15px;
            left: 15px;
            color: white;
            font-weight: 400;

            .badge {
              display: inline-block;
              padding: 6px 8px;
              font-size: 0.7rem;
            }
          }

        }

        .item-createdAt {
          position: absolute;
          bottom: 9px;
          right: 15px;
          font-size: 0.8rem;
          font-weight: 500;
          color: rgb(141, 140, 140);
        }
      }
    }

  }

}

.item-title,
.item-location,
.owner-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

/* about Section */
.about-section {
  text-align: center;
  padding: 3rem 0rem;

  .about-section-header {

    .about-section-title {
      font-size: 2rem;
      font-weight: 700;
      color: #222;
      margin-bottom: 0.5rem;
    }

    .about-section-subtitle {
      color: #666;
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }

  .about-section-content {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-box {
      width: 70px;
      height: 70px;
      border-radius: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      object-fit: cover;
      position: relative;
      padding: 10px;
      box-sizing: border-box;
      margin: 0 auto;

      i {
        font-size: 30px;
      }
    }

  }

}

/*  RESPONSIVE DESIGN */
/* Mobile Devices (max-width: 576px) */
@media (max-width: 576px) {

  .full-width-hero-container {

    .center-box {
      .hero-title {
        font-size: 2rem;
        font-weight: bold;
        color: white;

        & .highlight {
          color: $accent-yellow;
        }
      }
    }
  }

  .hero-buttons {
    flex-wrap: wrap;
    gap: 10px;

    .button {
      font-size: 0.9rem;
      padding: 8px 16px;
    }
  }

  .categories-section {
    padding: 2rem 0rem;

    .categories-header {
      .categories-title {
        font-size: 1.7rem !important;
      }

      .categories-subtitle {
        font-size: 1.2rem !important;
      }
    }

    .categories-carousel-wrapper {
      padding: 0.5rem 0rem;

      .carousel-arrow {
        width: 20px;
        height: 20px;
        font-size: 1rem;
      }

      .categories-carousel {
        gap: 0.9rem;

        .category-card {
          width: 20rem;
          height: 4.5rem;
          padding: 0 0.5rem;
          flex: 0 0 calc((100% - (0.8rem * 2)) / 3);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          .category-icon-box {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 10px;
            flex-shrink: 0;

            i {
              font-size: 1.3rem;
            }
          }

          .category-name {
            font-size: 0.7rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
          }
        }
      }

    }
  }

  .item-section {
    padding: 2rem 0rem;

    .item-section-header {
      .item-section-title {
        font-size: 1.7rem !important;
        ;
      }

      .item-section-subtitle {
        font-size: 1.2rem !important;
        ;
      }
    }

    .items {
      row-gap: 1.2rem;
      justify-content: center;

      .card {
        width: 100%;
        max-width: 160px;
        margin: 0 auto;
        box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.08);

        .image-box {
          aspect-ratio: 4 / 3;
          width: 100%;
          height: auto;

          .badge-box {
            top: 10px !important;
            left: 15px !important;
            padding: 0 !important;
            border-radius: 40px;

            .badge {
              padding: 3px 5px !important;
              font-size: 0.6rem !important;
              border-radius: 4px !important;
            }
          }

        }

        .item-card-details {
          h5 {
            font-size: 0.9rem;
          }

          small {
            font-size: 0.7rem;
          }
        }

        h6 {
          font-size: 0.75rem;
        }

        .item-card-footer {
          padding: 0.3rem 0.6rem;
          font-size: 0.8rem;

          .item-createdAt {
            position: absolute;
            bottom: 10px;
            right: 15px;
            font-size: 0.6rem;
            font-weight: 500;
            color: rgb(141, 140, 140);
          }
        }
      }
    }
  }

  .about-section {
    padding: 2rem 0rem;

    .about-section-header {
      .about-section-title {
        font-size: 1.7rem !important;
        ;
      }

      .about-section-subtitle {
        font-size: 1.2rem !important;
        ;
      }
    }
  }

}

/* Tablet Devices (min-width: 577px and max-width: 991px) */
@media (min-width: 577px) and (max-width: 991px) {

  .categories-section {
    padding: 2rem 0rem;

    .categories-title {
      font-size: 1.8rem;
    }

    .categories-subtitle {
      font-size: 1rem;
    }

    .categories-carousel-wrapper {
      padding: 0.5rem 0rem;

      .carousel-arrow {
        width: 20px;
        height: 20px;
        font-size: 1rem;
      }

      .categories-carousel {
        gap: 0.9rem;

        .category-card {
          width: 20rem;
          height: 5.5rem;
          padding: 0 0.5rem;
          flex: 0 0 calc((100% - (0.8rem * 3)) / 4);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          .category-icon-box {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 10px;
            flex-shrink: 0;

            i {
              font-size: 1.3rem;
            }
          }

          .category-name {
            font-size: 0.7rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
          }
        }
      }
    }
  }

  .item-section {
    padding: 2.5rem 0rem;

    .item-section-header {
      .item-section-title {
        font-size: 1.8rem;
      }

      .item-section-subtitle {
        font-size: 1rem;
      }
    }

    .items {
      justify-content: center;

      .card {
        width: 100%;
        max-width: 200px;
        margin: 0 auto;

        .image-box {
          aspect-ratio: 4 / 3;
          width: 100%;
          height: auto;
        }

        .item-card-details {
          h5 {
            font-size: 1rem;
          }

          small {
            font-size: 0.8rem;
          }
        }

        .item-card-footer {
          padding: 0.4rem 0.8rem;

          button {
            font-size: 0.8rem;
          }


        }


      }
    }
  }

}

/*  Desktop (large screens) */
@media (min-width: 992px) {

  .categories-section {

    .categories-carousel .category-card {
      flex: 0 0 calc((100% - (1rem * 5)) / 6);
      width: 10rem;
      height: 7rem;
    }
  }

  .item-section {
    padding: 3rem 0;

    .items {
      .card {
        max-width: 260px;

        .image-box {
          aspect-ratio: 4 / 3;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}