<div class="container-fluid p-0 ">
  <section class="footer-section d-flex justify-content-center align-items-center">

    <div class="center-box ">
      <div class=" text-center d-flex justify-content-center align-items-center gap-2 text-white">
        <div class="logo-box" style="background-color: rgb(42, 197, 42);">
          <i class="fas fa-home " style="color: white;"></i>
        </div>
        <div>
          <h5 class="logo-name m-0">GharSeRent</h5>
        </div>
      </div>

      <div class="website-links text-center d-flex justify-content-center align-items-center gap-2 text-warning">
        <div>
          <a (click)="goToPrivatePolicy()">
            Private Policy |
          </a>
        </div>
        <div>
          <a (click)="goToAbout()">
            About Us |
          </a>
        </div>
        <div>
          <a (click)="goToContactUs()">
            Contact Us
          </a>
        </div>
      </div>

      <div class="description mt-2 text-center text-white">
        <small>Building stronger communities through sharing</small>
      </div>

      <hr />

      <div class="copyright-content text-center text-white p-2">
        <small>© 2025 GharSeRent. Made with ❤️ for communities.</small>
      </div>
    </div>

  </section>
</div>